/*
 * WinApi test
 *
 * Copyright (c) 2024 Marcos Antonio Gambeta <marcosgambeta AT outlook DOT com>
 *
 */

#include <windows.h>
#include "guitest8.h"

IDR_MYMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "Dialog &1", IDM_FILE_DLG1
        MENUITEM "Dialog &2", IDM_FILE_DLG2
		MENUITEM SEPARATOR
        MENUITEM "&Quit", IDM_FILE_QUIT
    END
END

ID_DIALOG1 DIALOG 0, 0, 320, 240
STYLE WS_POPUP | WS_BORDER | DS_CENTER
CAPTION "Dialog-1" 
{
    CONTROL "Field1", ID_LABEL1_DLG1, "static", 0, 10, 10, 100, 20 
    EDITTEXT ID_EDIT1_DLG1, 110, 10, 200, 10, ES_UPPERCASE
	CONTROL "Field2", ID_LABEL2_DLG1, "static", 0, 10, 40, 100, 20
	EDITTEXT ID_EDIT2_DLG1, 110, 40, 200, 10
	CONTROL "Field3", ID_LABEL3_DLG1, "static", 0, 10, 70, 100, 20
	EDITTEXT ID_EDIT3_DLG1, 110, 70, 200, 10
	CONTROL "Field4", ID_LABEL4_DLG1, "static", 0, 10, 100, 100, 20
	EDITTEXT ID_EDIT4_DLG1, 110, 100, 200, 10
	CONTROL "Field5", ID_LABEL5_DLG1, "static", 0, 10, 130, 100, 20
	EDITTEXT ID_EDIT5_DLG1, 110, 130, 200, 10
    PUSHBUTTON "&Ok", IDOK, 50, 200, 60, 20
    PUSHBUTTON "&Cancel", IDCANCEL, 210, 200, 60, 20
}

ID_DIALOG2 DIALOGEX 0, 0, 320, 240
STYLE WS_POPUP | WS_BORDER | DS_CENTER
CAPTION "Dialog-2" 
FONT 12, "MS Sans Serif", 0, 0, 1
{
    CONTROL "Field1", ID_LABEL1_DLG2, "static", 0, 10, 10, 100, 20
    EDITTEXT ID_EDIT1_DLG2, 110, 10, 200, 10
	CONTROL "Field2", ID_LABEL2_DLG2, "static", 0, 10, 40, 100, 20
	EDITTEXT ID_EDIT2_DLG2, 110, 40, 200, 10
	CONTROL "Field3", ID_LABEL3_DLG2, "static", 0, 10, 70, 100, 20
    COMBOBOX ID_EDIT3_DLG2, 110, 70, 100, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL "Field4", ID_LABEL4_DLG2, "static", 0, 10, 100, 100, 20
	EDITTEXT ID_EDIT4_DLG2, 110, 100, 200, 80, WS_BORDER | WS_CHILD | WS_VISIBLE | WS_VSCROLL | ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN
    PUSHBUTTON "&Ok", IDOK, 50, 200, 60, 20
    PUSHBUTTON "&Cancel", IDCANCEL, 210, 200, 60, 20
}
